
<button ng-click="generateRandom()">random</button>
l0
<input ng-model="L_0">
r0
<input ng-model="R_0">
k1
<input ng-model="K_1">
<br>
function:<br>
<div id="function"/>
	expander:
	<input ng-model="expander" />
	<br>
	r0expanded
	<input ng-model="R_0_expanded"/>
	r0expanded xord with k1
	<input ng-model="R_0_xord"/>
	<br>
	<textarea ng-model="SB1_text" rows="3" cols="40"></textarea>
	<textarea ng-model="SB2_text" rows="3" cols="40"></textarea><br/>
	<input ng-model="SB1_out"/>
	<input ng-model="SB2_out"/>
</div
<br/>l1
<input ng-model="R_0">
r1
<input ng-model="R_1">
